@import url(http://fonts.googleapis.com/css?family=Montserrat|Open+Sans);

body {
  font-family: 'Open Sans', sans-serif;
}

.wtf-container {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.wtf, footer {
  width: 100%;
  padding: 1em;
}

.wtf {
  background-position: center;
  background-size: cover;
  height: 100%;
}
.wtf .title, .wtf .date {
  background-color: rgba(100, 100, 100, 0.5);
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
}

.wtf .title {
  color: white;
}

footer {
  font-size: smaller;
  background-image: url("../img/pattern.png");
  background-repeat: repeat;
}
